
/*  hover : #ffeaa7 
enabled: #f9ca24
tetx color : #222f3e
for headings : #f0932b
*/


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.customBody {
background-image: url('./images/honeyflower.jpg');
object-fit:cover;
  }

header {
  background-color: white;
  height: 120px;
  align-content: center;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  z-index: 2;
  .fa-house {
    color: #222f3e;
  }
  .home .nav-item:hover {
    border-bottom: none;
}
.home {
  display: flex;
  align-items: center;
  gap:40px;
}

.dropdown {
 
  position: relative;
  font-family: 'Poppins';
 width: 160px
}

.select {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.selected{
  font-size: 18px;
  
}

.select-clicked  {
 background-color: #ffeaa7;
}


.select:hover {
border-bottom: #222f3e 1px solid;
}

.fa-caret-down{
  color: #222f3e;
}

.fa-caret-down-active {
  transform: rotate(180deg);
}

.menu {
 border-bottom-left-radius: 8px;
 border-bottom-right-radius: 8px;
 min-height: 80px;
 background-color: white;
 position: absolute;
 width: 100%;
 visibility: hidden;
 box-shadow: 5px 5px 20px  #222f3e25;
 overflow: hidden;

}

.menu-open {
  visibility: visible;
}


.menu-options{
padding: 8px 8px;
font-size: 18px;
}

.menu-options.active{
background-color: #f0932b;
  }


.menu-options:hover{
background-color:#ffeaa7 ;
  }


  .fa-chevron-down{
    color: #222f3e;
    margin-left: 8px;
    font-size: 12px;
  }

  .submenu{
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    top: 120px;
    display:flex;
    justify-content: center;
    gap: 160px;
    align-items: center;
    font-family: 'Poppins';
    height: 200px;
    visibility: hidden;
    box-shadow: 5px 5px 10px #222f3e25;
    }

    .submenu-open {
      visibility: visible;
    }

    .column{
      display: flex;
      flex-direction: column;
      justify-items: center
    
    }
    .submenu-item{
      height: 56px;
     display: inline-block;
     line-height: 56px;
    }
   

   .subnavLink {
      text-decoration: none;
      color: #222f3e;
      font-size: 18px;
    }
    .subnavLink:hover {
      color: #f0932b !important;
      text-decoration: none !important;
     }

     .submenu-item a:hover {
      border-bottom: none;
       
       }
    
}





.navbar {
  display:flex;
  flex-direction:row;
  height:40px;
  margin: 0 80px;
  justify-content: space-between;
}


.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}





.othermenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.burger {
  display: none;
}

li {
list-style: none;
}

.nav-link {
  color: #222f3e;
  text-decoration: none;
  font-weight: 600;
  font-family:'Poppins';
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  
}

.nav-item a:hover {
 border-bottom: solid 1px #222f3e;
 
}



.bar {
  display: block;
  width: 16px;
  height: 2px;
  margin: 6px auto;
  background-color:#f9ca24;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;

}

 .bar:nth-child(2) {
  width: 24px;
}



.logo-div{
  height: 120px;
  width: 100px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

a img {
  width: 80px;
  height: 80px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }


  
.newHeader {
  background-color: #222f3e;
  .nav-item .nav-link { 
    color:#f9ca24;
    &:hover {
      border-bottom: solid 1px #f9ca24;
    } 
    
  }
  a.logo {
    content: url('images/newlogo.svg');
    width: 80px;
    height: 80px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo-div {
    background-color:#222f3e;
  }
  .fa-house{
    color:#f9ca24;
  }
  
  
  .fa-chevron-down{
    color:#f9ca24;
    margin-left: 8px;
    font-size: 12px;
  }

  .submenu{
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    top: 120px;
    display:flex;
    justify-content: center;
    gap: 160px;
    align-items: center;
    font-family: 'Poppins';
    height: 200px;
    }

    .column{
      display: flex;
      flex-direction: column;
      justify-items: center
    
    }
    .submenu-item{
      height: 56px;
     display: inline-block;
     line-height: 56px;
    }

   .subnavLink {
      color: #222f3e !important;
      font-size: 18px; 
    }
    .subnavLink:hover {
     color: #f0932b !important;
     text-decoration: none !important;
    }


    .selected {
    color: #f9ca24;
    }

    .fa-caret-down{
      color:  #f9ca24;
    }
    .select:hover {
      border-bottom: #f9ca24 1px solid;
      }

      .select-clicked  {
        background-color: white;
       }
  
}






 
.hero-div {
  width: 100%;
  min-height: 500px;
  background-image: url('images/honey.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
 justify-content:flex-end;
 align-items: center;
 gap: 80px;
 padding-bottom: 80px;
 padding-left: 16px;
 padding-right: 16px;
 
 

}





h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  /* position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  
}


/* Validation form */

.formValidation{
 height: 100%;
 background-image: url('./images/honeycomb.jpg');
 padding: 240px 0 20px 0;
}


#validation-form {
  background-color:#ffffff;
  border-radius: 16px;
  border: 1px solid #222f3e50;
  width:600px;
  max-width: 95%;
  min-height: 600px;
  box-shadow: 8px 8px 8px #222f3e25;
  margin: auto;
  display:flex;
  flex-direction: column;
  padding: 64px;
}

#validation-form > h2 {
  margin-bottom: 64px;
}

.heading {
 height: 64px;
 width: fit-content;
 display: flex;
 gap: 24px;
 align-items: center;
 align-self: center;
}
.heading > img{
  height: 40px;
  width: 40px;
  color: #f0932b;
  
  
}

.form-div {
height:80px;
width: 100%;
position: relative;
}



.form-select {
display: flex;
height:fit-content;
width: 100%;
position: relative;
padding: 24px 0;
}

.form-select small {
  position: absolute;
  left:0;
  top:52px; 
  color: red;
  visibility: hidden;
}

.input-class {
  height: 40px;
  border:#b6bfca 1px solid;
  border-radius: 8px;
  display: block;
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8px;
  transition: all 0.2s ease-in;
  outline: none;
  
}

.input-class:hover {
  border-color:#222f3e;
}

.input-class:focus {
  border: 2px solid #f0932b;
}

.form-label {
  position: absolute;
  left: 8px;
  top: 12px;
  padding: 0 4px;
  cursor: text;
  transition: 200ms ease-in;
  background-color: white;
}

.req{
  color: red;
  position: absolute;
  top: -8px;
}



.input-class:focus ~ .form-label{
  top: -8px;
  left: 8px;
 transform: scale(0.88);
 color:#f0932b;
}

.input-class:not(:placeholder-shown).input-class:not(:focus) ~ .form-label{
  top: -8px;
  left: 8px;
 transform: scale(0.88);
}




.form-div.success input {
  border-color: green;
}

.form-div.success i.fa-circle-check {
  visibility: visible;
  color: green;
}

.form-div.success .form-label {
color: green;
}

.form-div.success .input-class:not(:focus) label {
color: green;
}


.form-div.success small{
  visibility: visible;
  color: green;
}

.form-div.error input {
  border-color: red;
}

.form-div.error i.fa-circle-exclamation {
  visibility: visible;
  color: red;
}

.form-div.error small{
  visibility: visible;
  color: red;
}

.gender {
  display: flex;
  width: 100px;
  align-items: center;
  gap: 12px; 
}

.form-div i {
  position: absolute;
  top: 10px;
  right: 16px;
  visibility: hidden;
}

.form-div small {
  position: absolute;
  left: 0px;
  top: 45px;
  color: red;
  visibility: hidden;
}

.form-select i {
  position: absolute;
  top: 24px;
  right: 16px;
  visibility: hidden;
}

.form-select.error i.fa-circle-exclamation {
  visibility: visible;
  color: red;
}

.form-select.error small{
  visibility: visible;
  color: red;
}

.form-select.success i.fa-circle-check {
  visibility: visible;
  color: green;
}

.form-select.success small{
  visibility: visible;
  color: green;
}

.checkbox-form {
display: flex;
height:fit-content;
width: 100%;
position: relative;
padding: 24px 0;
}
.checkbox-form i {
  position: absolute;
  top: 24px;
  right: 16px;
  visibility: hidden;
}

.checkbox-form small {
  position: absolute;
  left: 0;
  top:52px; 
  color: red;
  visibility: hidden;
}

.checkbox-form.error i.fa-circle-exclamation {
  visibility: visible;
  color: red;
}

.checkbox-form.error small{
  visibility: visible;
  color: red;
}

.checkbox-form.success i.fa-circle-check {
  visibility: visible;
  color: green;
}

.checkbox-form.success small{
  visibility: visible;
  color: green;
}

.check {
  display: flex;
  gap: 12px;
  align-items: center;
}



.submit {
  background-color:#f9ca24;
  margin: 40px 24px 24px 24px;
  padding: 12px 24px;
  font-size: 24px;
  font-family: 'Poppins';
  font-weight: bold;
  color: #222f3e;
  transition: all 0.4s;
  border-radius: 8px;
  border: none;
}


.submit:hover {
  background-color:#ffeaa7;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 20px;
  width:20px;
  margin: 0;
}


input[type="radio"] {
  height: 20px;
  width:20px;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  
}



.fa-eye{
height: 20px;
width: 20px;
position: absolute;
top: 10px;
right: 56px;
color: #222f3e;
cursor: pointer;
visibility: hidden;
right: 24px;
}


.form-div :nth-child(5) {
  position: absolute;
  right: -32px;
}
.fa-eye-slash {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 56px;
  color: #222f3e;
  cursor: pointer;
  
}

h2 {
  font-family: 'Poppins';
  font-size: 1.8rem;
  color:#f0932b;
  text-align: center;
  
}

h3 {
  font-size: 24px;
  color: #f0932b;
  font-weight: bold;
}


.primary {
  background-color:#f9ca24;
  border: none;
  border-radius: 8px;
  padding:12px 24px;
  /* position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%); */
  transition: all 0.4s;
  

}


.primary:hover {
  background-color:#ffeaa7;
  cursor: pointer;
}

.primary a {
  text-decoration: none;
  color: #222f3e;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins';
}
  



section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter {
  width:100%;
  height: 40px;
  border-radius: 4px;
  margin-top:24px;
}

#search-bar {
  max-width: 600px;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #222f3e;
  padding-left: 8px;
  outline: none;
  margin-top: 24px;
}

#search-bar:focus {

  border: 3px solid #f0932b;
}

#outcome {
  background-color:rgb(255, 255, 255);
  height: fit-content;
  border-radius: 4px;
  max-width:600px;
  padding: 16px;
  box-shadow: 10px 10px 5px  #222f3e20;
  display: flex;
  flex-direction: column;
  outline:#222f3e25 0.5px solid;
  display: none;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index:1;
}

.search-list.hide {
display: none;

}

.searchImageStyle {
  width: 32px;
  height: 32px;
}

.search-list {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  
}



.textDiv{
  display: block;
  min-height: 56px;
  text-align: start;
  
}

#mainTitle {
  font-family: 'Poppins';
  color: #222f3e;
  font-weight:bold;
  font-size: 16px;
}

#sub-title {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #a5b1c2;
}






.user-info {
  display: block;
  width: fit-content;
  text-align: center;
  padding-top:24px;
  margin: auto;
  min-height: 100px;
  
 
}


span {
  font-size: 20px;
  color: #222f3e;
}

.arrow {
  background-color:#f9ca24;
  border-radius: 4px;
  min-width: 40px;
  height: 40px;
  border:none;
  cursor: pointer;
}

.arrow {
  &:disabled{
    opacity: 50%;
    cursor: not-allowed;
  }
}




.pagination-wrapper {
  margin: 25px;
}





.itemImage {
  display: block;
  text-align: center;
  object-fit:cover;
  width: 200px;
  height: 200px;
}


.product-holder{
min-height: 200px;
margin: 280px auto;
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
width: 95%;
}



.honey-product{
  background-color: white;
  border-radius: 8px;
  padding: 24px;

}


.menu-list {
width: 100%;
min-height: 200px;
display: flex;
flex-wrap: wrap;
gap: 120px;
justify-content: center;
}


.productCard {
  position: relative;
  display: flex;
  align-items: center;
}



.details{
  width: 360px;
  height: 240px;
  background-color:rgb(255, 255, 255);
  box-shadow: 5px 5px 10px #222f3e40;
  border-radius: 8px;
  border: 1px solid #222f3e80;
  position:absolute;
  top: -250px;
  visibility: hidden;

 
}



.breadcrumbs{
  padding: 4px;
  font-family: 'Poppins';
  position: absolute;
  left: 80px;
  top: 160px;
}

.breadcrumbs__item{
display: inline;
}


.breadcrumbs__item:not(:last-of-type)::after {
  content: '\203a';
  margin: 0 4px;
  color:white;
}





.breadcrumbs__link{
  text-decoration: none;
  color: white;
}


.breadcrumbs__link:hover{
text-decoration: underline;
}



.breadcrumbs__link.current{
 font-weight: bold;
 cursor:default;
&:hover{
  text-decoration: none;
}
}







.details.active {
  visibility: visible;
}

.contentDiv {
 height: 100%;
  background-color: #a5b1c2;
}

.parStyle{
  font-family: 'Poppins';
  font-size:16px;
  color: #222f3e;
}




.post {
  background-color: #eceae3;
  max-width:800px;
  width: 100%;
  margin-bottom: 30px;
  padding-top:15px;
  padding-bottom:15px;
  margin-left: 16px;
  padding-left: 16px;
  display:flex;
  align-items: first baseline;
 
}

.post h2 {
  color:#222f3e;
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  margin-left: 24px;
  margin-top:0px;
  
}



.overflow {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
background-color: aliceblue;
min-height: 240px;
box-shadow:  8px 8px 4px  #84817a4a;
border-radius: 4px;
display: none;
padding: 16px;
}

.overflow.active{
  display: block;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  
}


.close:hover {
  background-color: #ffeaa7;
  border-radius: 4px;

}


.add-post {
 
  font-size: 32px;
  color: green;
  cursor: pointer;

}

.overflow-add {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
background-color: aliceblue;
min-height: 240px;
box-shadow:  8px 8px 4px  #84817a4a;
border-radius: 4px;
display: none;
padding: 16px;

}

.overflow-add.activeOverflow{
display: block;
}

.edit-overflow {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
background-color: aliceblue;
min-height: 240px;
box-shadow:  8px 8px 4px  #84817a4a;
border-radius: 4px;
display:none;
padding: 16px;
}

.edit-overflow.editActive {
  display: block;
  }

.fa-solid {
  font-size: 20px;
  color: #222f3e;
}

.div-button1 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.div-button1::before {
  content: 'Delete';
  font-size: 16px;
 cursor: pointer;
}

.div-button2 {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 12px;
}

.div-button2::before {
  content: 'Edit';
  font-size: 16px;
 cursor: pointer;
}

.add-post {
width:56px;
height: 56px;
align-content: center;
position: relative;
left: 45%;
text-align: center;
}

.add-post .fa-solid {
font-size: larger;
}



.input-result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}


.add-post:hover{
  background-color:#ffeaa7;
  border-radius: 4px;
  }
  

#ul-element {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  gap:24px;
  width: fit-content;
  justify-content: center;
  
}

.search {
max-width:600px;
width: 95%;
position: relative;
margin: 80px 0;
text-align: center;
}


li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}


.Honey-list-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 24px;
  
}

.dlt-button {
  width:40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  position: relative;
}



.dlt-button:hover {
  background-color:#ffeaa7;
}

.fa-trash {
  height: 20px;
  width: 20px;
  color: #222f3e;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%);
}

#todo {
  font-size:16px;
  padding: 8px;
  font-family:'Roboto', sans-serif;
  border-radius: 4px;
  border: 1px solid #a5b1c2;
 
}

#formElement {
  display: flex;
  
  gap: 8px;
}


#btn {
  height:40px;
  width:fit-content;
  padding: 8px 24px;
  background-color:#f9ca24;
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  font-weight:bold;
  border-radius: 4px;
  border:none;
  color: #222f3e;
}


#ul-list {
  width: 100%;
}
#ul-list .list-item {
  height:48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #6B331A;
  text-transform: capitalize;
  justify-content: space-between;
}


.to-do {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
 padding: 40px 80px;
  max-width: 600px;
  width: 100%;
  
}



.scroll-btn {
  width: 48px;
  height: 48px;
  font-size:large; 
  background: none;
  border:none;
  display:block;
  cursor: pointer;
  color: #222f3e;
  padding: 4px;
  position: absolute;
  top: -24px;
  left: 50%;
}


.contbg {
  width: 40px;
  height: 40px; 
  background-color: #f9ca24;
  border-radius: 4px;
  align-content: center;
}


.subscribe{
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #f9ca24;
  border-radius: 8px;
  border: none;
  color: #222f3e;
  font-family: 'Poppins';
  cursor: pointer;
  &:hover{
    background-color: #ffeaa7;
  }
}

#email-subscribe{
height: 40px;
border-radius: 8px;
width: 320px;
}


#reset-all {
  height: 40px;
  width: fit-content;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #f9ca24;
  font-family:'Roboto', sans-serif;
  font-size: 1rem;

}

.mainactions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width:100%;
  margin: 120px 0;
  
}


.aboutUs{
max-width: 800px;
width: 95%;
position: relative;
display: flex;
flex-direction: column;
gap: 24px;
}


.dimm{
  background-color: #222f3e8d;
  
}

.paragr{
  background-image: url('https://rurallivingtoday.com/wp-content/uploads/how-long-do-honey-bees-live-1.jpeg');
  background-repeat: no-repeat;
  object-fit:cover;
  color: white;
  font-family: 'Poppins';
  width: 100%;
  min-height: 160px;
}


.about{
padding: 56px;
}


.learn-more{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Poppins';
  border-radius: 8px;
  color: #f9ca24;
  position: absolute;
  right: 0;
  bottom: 24px;
  right: 24px;
}

.learn-more i {
font-size: 12px;
color: #f9ca24;
}

.learn-more:hover{
 opacity: 50%;
}



h4 {
  font-family: 'Poppins';
font-weight: bold;
color: #222f3e;
}

.accordion-holder {
  max-width:800px;
  width: 95%;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-title {
  position: relative;
  }

.accordion-title::before {
font-family: "Font Awesome 5 Free";
content: "\f078";
position: absolute;
top: 50%;
transform: translateY(-50%);
right:0;
}


.accordion-description {
  width: 100%;
  min-height: 50px;
  display: none;
  font-family:'Poppins';
  font-size: 16px;
  padding-top: 16px;
  color: #222f3e;
  transition: all 0.5s;
  
}


.acc-list-item {
padding: 24px 24px;
cursor: pointer;
width: 100%;
border-bottom:#b6bfca solid 0.5px;
}


.acc-list-item.unfold .accordion-description {
display: block;
}  

.acc-list-item.unfold .accordion-title::before {
font-family: "Font Awesome 5 Free";
font-weight: 900;
content: '\f077';
}


/* Cookies  */
.pop-up{
height: 240px;
background-color: #ffffff;
max-width: 560px;
width: 95%;
border-radius: 16px;
box-shadow: 1px 1px 10px #222f3e50;
position: fixed;
bottom: 16px;
left: 50%;
transform: translate(-50%);
z-index: 1;
img{
  height: 80px;
  width: 80px;
  position: absolute;
  left: 24px;
  top: 24px;
}
.content{
  width: 100%;
  padding-left: 128px;
  padding-right: 24px;
  padding-top: 24px;
  font-family: 'Poppins';
}
h1{
  font-size: 24px;
  color: #222f3e;
}

p{
  padding-top: 16px;
  font-size: 16px;
  .cookie-learnMore{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Poppins';
    border-radius: 8px;
    color: #f9ca24;
   i {
      font-size: 12px;
      color: #f9ca24;
   }
  }
  .cookie-learnMore:hover{
    opacity: 50%;
  }
}

.accept{
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #f9ca24;
  border-radius: 8px;
  border: none;
  color: #222f3e;
  font-family: 'Poppins';
  position: absolute;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
  &:hover{
    background-color: #ffeaa7;
  }
}

.reject{
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border-radius: 8px;
  border: none;
  color: #222f3e;
  font-family: 'Poppins';
  position: absolute;
  right: 104px;
  bottom: 24px;
  cursor: pointer;
  &:hover{
    background-color:  #ffeaa7;
  }
}
 }



/* Slider */

.splide{
  margin: 80px 0;
  gap: 24px;
}

.splide h1 {
  color: #f0932b;
  text-transform: capitalize;
}

.splide__track {
  width:100%;
}


.splide__slide img {
 height: 600px;
 object-fit:cover;
 
}

.splide__arrow{
 background-color:#f9ca24;
 width: 40px;
 height: 40px;

 
}

 .fa-chevron-left {
 font-size: 24px;
 color:#222f3e;
}

.fa-chevron-right{
  font-size: 24px;
  color: #222f3e;
}

.splide__pagination__page  {
background-color: #222f3e;
}
.splide__pagination__page.is-active {
background-color: #f0932b;
}



/* Footer */
.footer{
  position: relative;
  width: 100%;
  min-height: 200px;
  background-color: #222f3e;
  align-content: center;
  justify-content: center;
 .footNav{
  display: flex;
  width: 100%;
  justify-content:space-around;
  a{
    font-size: 16px;
    font-family: 'Poppins';
    color: #f9ca24;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  
 }
}






@media(max-width: 768px) {



.navbar {
  padding: 0;
  margin: 24px;
}

  .burger {
    display: block;
  }
  .burger:hover{
    opacity: 50%;
    cursor: pointer;
  }
  .burger.active .bar:nth-child(2) {
    opacity:0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


  .nav-menu {
    position:fixed;
    left: -100%;
    top: 120px;
    gap:0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    padding: 16px 0;
  }

  /* .nav-item {
    height: 40px;
    width:max-content;
    justify-content: center;
    align-items: center;
  } */

  .nav-menu.active {
    left: 0;
    .nav-item {
      color: #6B331A;
    }

    
}


@media(max-width: 480px) {
  .navbar {
    margin: 12px;
  }
}


@media(max-width: 480px) {
  .navbar {
    margin: 4px;
  }
}
}